<?php $blockId = $block->getBlockId(); ?>
<div id="parallax<?php echo $blockId; ?>" class="parallax">
	<?php echo $block->getStaticHtml($blockId); ?>
</div>
<script>
    require(['jquery', 'parallax'], function ($) {
        $(document).ready(function() {
            $('#parallax<?php echo $blockId; ?>').parallax({
                <?php echo $block->getParallaxOptions($blockId); ?>
            });
        });
    });
</script>
